@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

#usersManage .el-dialog__body .cell-edit-input .el-input,
#usersManage .el-dialog__body .el-input__inner {
  width: 300px;
}

#usersManage .addGroupDialog .el-dialog__body .el-input__inner {
  width: 160px;
}

#usersManage .addGroupDialog .el-form-item__content .el-icon-circle-plus {
  font-size: 28px;
  color: #409EFF;
  margin-top: 20px;
  cursor: pointer;
}

#usersManage .addGroupDialog .addGroup {
  margin-bottom: 0px;
}

.el-dialog__header {
  border-bottom: 1px solid #a5a5a5;
}

#usersManage .el-dialog {
  width: 500px;
}

#usersManage .addGroupDialog .el-dialog {
  width: 630px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  // border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px #409EFF;
  background-color: #409EFF
}

#caseCheckMan .el-dialog__body .el-select {
  width: 85%;
}

.el-table .cell {
  text-align: center;
}

.caseTypeCourt .el-table tr td:first-child .cell,
.caseTypeCourt .el-table tr th:first-child .cell {
  text-align: left;
}

.el-message-box__content {
  max-height: 700px;
  overflow: auto;
}

.el-message-box {
  width: 800px;
}

#app .sidebar-container {
  // width: 200px !important;
}

.courtListCenter .el-table .cell {
  text-align: left;
}